.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4F4859;
  overflow: hidden;
}
.stage{
  position: relative;
  overflow: hidden;
}
.controls{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-radius: 8px 8px 0 0;
  &-panel{
    padding: 8px;
  }
  &-panel-control{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.timedisplay{
  display: inline;
  margin-left: 8px;
  cursor: ns-resize;
  user-select: none;
  font-size: 20px;
  .small{
    font-size: 16px;
  }
}

.timeline{
  width: 100%;
}

.fps{
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
}