.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4F4859;
  overflow: hidden;
}
.stage{
  background: #FFFFFF;
  position: relative;
}
.controls{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-radius: 8px 8px 0 0;
  &-panel{
    padding: 8px;
  }
}
.timeline{

}